@font-face {
  font-family: 'shrikhand';
  src: url(Sass/base/police/shrikhand/Shrikhand-Regular.otf);
}

@font-face {
  font-family: 'roboto';
  src: url(Sass/base/police/Roboto/Roboto-Regular.ttf) format("truetype");
}

.restaurant {
  background-color: #f8f8f8;
  padding-top: 15%;
  padding-bottom: 10%;
}

.restaurant h2 {
  padding-bottom: 5%;
  padding-left: 5%;
}

.restaurant__box article {
  margin-left: 5%;
  width: 340px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  margin-bottom: 5%;
  -webkit-box-shadow: #818181 2px 3px 3px;
          box-shadow: #818181 2px 3px 3px;
}

.restaurant__box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 340px;
  height: 250px;
}

.restaurant__box em {
  position: absolute;
  z-index: 1;
  background-color: #99E2D0;
  right: 5%;
  top: 5%;
  border-radius: 5px;
  padding: 3%;
  font-style: normal;
  font-weight: 900;
  color: #21a181;
}

.restaurant__box--detail {
  position: absolute;
  z-index: 1;
  background-color: white;
  bottom: 0;
  width: 100%;
  padding: 5%;
}

.restaurant__box--detail h3 {
  padding-bottom: 3%;
}

.restaurant__box .fas {
  color: #9356DC;
  position: absolute;
  right: 15%;
  bottom: 35%;
  font-size: 1.7em;
}

.exploration__concept {
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 5%;
  font-size: 1.2em;
  color: grey;
}

.exploration__concept h2 {
  font-size: 1.5em;
  font-weight: 1000;
  padding-bottom: 5%;
  padding: 5%;
}

.exploration__concept input {
  margin: 10%;
  margin-bottom: 15%;
  border: 0;
  border-radius: 20px;
  background-color: #9356DC;
  padding: 4%;
  color: white;
  padding-left: 6%;
  padding-right: 6%;
  -webkit-box-shadow: #818181 2px 3px 3px;
          box-shadow: #818181 2px 3px 3px;
}

.fonctionnement h2 {
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.fonctionnement__box--element {
  border-radius: 20px;
  -webkit-box-shadow: #818181 2px 3px 3px;
          box-shadow: #818181 2px 3px 3px;
  font-size: 1.2em;
  width: 90%;
  margin-left: 5%;
  padding-top: 8%;
  padding-bottom: 8%;
  margin-bottom: 5%;
  background-color: #f8f8f8;
  font-weight: 900;
}

.fonctionnement__box--element mark {
  color: white;
  background-color: #9356DC;
  padding: 2%;
  border-radius: 50%;
  padding-left: 4%;
  padding-right: 4%;
}

.fonctionnement__box--element .fas {
  margin-left: 5%;
  margin-right: 5%;
  color: grey;
}

footer {
  background-color: #353535;
  padding-bottom: 5%;
}

footer h4 {
  font-family: 'shrikhand';
  color: white;
  margin: 5%;
  font-size: 1.5em;
  padding-top: 10%;
}

footer nav {
  list-style: none;
  margin-left: 5%;
}

footer .fas {
  color: white;
  padding-right: 2%;
}

footer strong {
  color: white;
  line-height: 30px;
}

footer a {
  color: white;
  line-height: 30px;
}

header {
  -webkit-box-shadow: #818181 0px 5px 5px;
          box-shadow: #818181 0px 5px 5px;
  padding: 5%;
}

h1 {
  font-family: 'shrikhand';
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 2.5em;
}

.exploration__localisation {
  background-color: #ebe8e8;
  padding: 5%;
  text-align: center;
}

.fa-map-marker-alt {
  font-size: 1.3em;
  margin-left: 15%;
  color: #222222;
}

.exploration__localisation input {
  border: none;
  font-size: 1.3em;
  padding-left: 5%;
}

* {
  font-family: 'roboto', Arial, serif;
  color: black;
  text-decoration: none;
  background-color: transparent;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */