.chargement
{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    animation: disparition 0s linear 3s both;
    z-index: 2;
    .fas
    {
        position: relative;
        color: $couleur-primaire;
        font-size: 4em;
    }
        .fa-fish
        {
            top: 40%;
            left: 30%;
            animation: poisson 1s 1s both;
        }
        .fa-pepper-hot
        {
            top: 40%;
            left: 55%;
            animation: piment 1s 2s  both;
        }
    .__ohmyfood
    {
        position: relative;
        top: 40%;
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 2.5em;
        .--ohmy
        {
            animation: coloration 2s 1s;
            padding: 1%;
            font-family: $font-titre;
        }
        .--food
        {
            animation: coloration 2s 2s;
            padding: 1%;
            font-family: $font-titre;
        }
    }
}