footer
{
    background-color: rgb(53, 53, 53);
    padding-bottom: 5%;
}
footer h4
{
    font-family: 'shrikhand';
    color: white;
    margin: 5%;
    font-size: 1.5em;
    padding-top: 10%;
}
footer nav
{
    list-style: none;
    margin-left: 5%;
}
footer .fas
{
    color: white;
    padding-right: 2%;
}
footer strong
{
    color: white;
    line-height: 30px;
}
footer a
{
    color: white;
    line-height: 30px;
}