footer
{
    background-color: rgb(53, 53, 53);
    padding-bottom: 5%;
}
footer nav
{
    list-style: none;
    margin-left: 5%;
}
footer strong
{
    color: white;
    line-height: 30px;
}
footer a
{
    color: white;
    line-height: 30px;
}