* {
  font-family: 'roboto', Arial, serif;
  color: black;
  text-decoration: none;
  background-color: transparent;
  margin: 0;
}

@font-face {
  font-family: 'shrikhand';
  src: url(Sass/base/police/shrikhand/Shrikhand-Regular.otf);
}

@font-face {
  font-family: 'roboto';
  src: url(Sass/base/police/Roboto/Roboto-Regular.ttf) format("truetype");
}

.--coeurrempli {
  color: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  position: absolute;
  right: 15%;
  bottom: 35%;
  font-size: 1.7em;
  z-index: 2;
}

.--calque {
  position: absolute;
  right: 6%;
  bottom: 6%;
  font-size: 4em;
  z-index: 3;
  color: white;
  background-color: white;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.--coeurvide {
  color: black;
  background-color: transparent;
  position: absolute;
  right: 15%;
  bottom: 35%;
  font-size: 1.7em;
  z-index: 4;
}

.--coeurvide:hover + .--calque {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.top .--coeurrempli {
  right: 10%;
  bottom: 45%;
}

.top .--calque {
  right: 9%;
  bottom: 40%;
  font-size: 2em;
  color: #f6f6f6;
  background-color: #f6f6f6;
}

.top .--coeurvide {
  right: 10%;
  bottom: 45%;
}

.__concept a, .repas .commande {
  border-radius: 20px;
  padding: 4%;
  color: white;
  -webkit-box-shadow: #818181 2px 3px 3px;
          box-shadow: #818181 2px 3px 3px;
  line-height: 500%;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
}

.__concept a:hover, .repas .commande:hover {
  -webkit-box-shadow: #818181 3px 5px 5px;
          box-shadow: #818181 3px 5px 5px;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.__concept a {
  margin: 10%;
  margin-bottom: 15%;
  padding-left: 6%;
  padding-right: 6%;
}

.repas .commande {
  margin-left: 27%;
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (min-width: 813px) {
  .__concept a, .repas .commande {
    padding: 1%;
  }
  .__concept a {
    margin: 20%;
    margin-bottom: 15%;
  }
  .repas .commande {
    margin-left: 40%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2em;
  }
}

/*chargement*/
@-webkit-keyframes font {
  0% {
    background-color: transparent;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  99% {
    background-color: transparent;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@keyframes font {
  0% {
    background-color: transparent;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  99% {
    background-color: transparent;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@-webkit-keyframes disparition {
  to {
    background-color: transparent;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@keyframes disparition {
  to {
    background-color: transparent;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@-webkit-keyframes coloration {
  100% {
    color: transparent;
    background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
}

@keyframes coloration {
  100% {
    color: transparent;
    background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
}

@-webkit-keyframes poisson {
  25% {
    -webkit-transform: translateX(10%) translateY(10%);
            transform: translateX(10%) translateY(10%);
  }
  50% {
    -webkit-transform: translateX(44%) translateY(44%);
            transform: translateX(44%) translateY(44%);
  }
  75% {
    -webkit-transform: translateX(80%) translateY(80%);
            transform: translateX(80%) translateY(80%);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(160px);
            transform: translateX(100px) translateY(160px);
    color: transparent;
  }
}

@keyframes poisson {
  25% {
    -webkit-transform: translateX(10%) translateY(10%);
            transform: translateX(10%) translateY(10%);
  }
  50% {
    -webkit-transform: translateX(44%) translateY(44%);
            transform: translateX(44%) translateY(44%);
  }
  75% {
    -webkit-transform: translateX(80%) translateY(80%);
            transform: translateX(80%) translateY(80%);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(160px);
            transform: translateX(100px) translateY(160px);
    color: transparent;
  }
}

@-webkit-keyframes piment {
  25% {
    -webkit-transform: translateX(-10%) translateY(10%);
            transform: translateX(-10%) translateY(10%);
  }
  50% {
    -webkit-transform: translateX(-44%) translateY(44%);
            transform: translateX(-44%) translateY(44%);
  }
  75% {
    -webkit-transform: translateX(-80%) translateY(80%);
            transform: translateX(-80%) translateY(80%);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(160px);
            transform: translateX(-100px) translateY(160px);
    color: transparent;
  }
}

@keyframes piment {
  25% {
    -webkit-transform: translateX(-10%) translateY(10%);
            transform: translateX(-10%) translateY(10%);
  }
  50% {
    -webkit-transform: translateX(-44%) translateY(44%);
            transform: translateX(-44%) translateY(44%);
  }
  75% {
    -webkit-transform: translateX(-80%) translateY(80%);
            transform: translateX(-80%) translateY(80%);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(160px);
            transform: translateX(-100px) translateY(160px);
    color: transparent;
  }
}

/*apparition*/
@-webkit-keyframes apparition {
  from {
    opacity: 0;
    margin-top: 10%;
  }
  to {
    opacity: 100%;
    margin-top: 0%;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
    margin-top: 10%;
  }
  to {
    opacity: 100%;
    margin-top: 0%;
  }
}

.restaurant .__box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 340px;
  height: 250px;
}

.restaurant .__box .--lapalettedugout {
  -o-object-position: -20px -50px;
     object-position: -20px -50px;
}

.restaurant .__box .--lanoteenchantee {
  -o-object-position: 0px -150px;
     object-position: 0px -150px;
}

.restaurant .__box .--alafrancaise {
  -o-object-position: 0px -60px;
     object-position: 0px -60px;
}

.restaurant .__box .--ledelicedessens {
  -o-object-position: -15px -70px;
     object-position: -15px -70px;
}

.main {
  -webkit-animation-name: font;
          animation-name: font;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.chargement {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  -webkit-animation-name: disparition;
          animation-name: disparition;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  z-index: 2;
}

.chargement .fas {
  position: relative;
  color: #9356DC;
  font-size: 3em;
}

.chargement .fa-fish {
  top: 30%;
  left: 20%;
  -webkit-animation-name: poisson;
          animation-name: poisson;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.chargement .fa-pepper-hot {
  top: 30%;
  left: 55%;
  -webkit-animation-name: piment;
          animation-name: piment;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.chargement .__ohmyfood {
  position: relative;
  top: 40%;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 2.5em;
}

.chargement .__ohmyfood .--ohmy {
  -webkit-animation-name: coloration;
          animation-name: coloration;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  padding: 1%;
  font-family: "shrikhand";
}

.chargement .__ohmyfood .--food {
  -webkit-animation-name: coloration;
          animation-name: coloration;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  padding: 1%;
  font-family: "shrikhand";
}

header {
  -webkit-box-shadow: #818181 0px 5px 5px;
          box-shadow: #818181 0px 5px 5px;
  padding: 5%;
  position: relative;
}

header a {
  position: absolute;
  top: 40%;
}

header h1 {
  font-family: "shrikhand";
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 2.5em;
}

.__search {
  background-color: #ebe8e8;
  padding: 5%;
  text-align: center;
}

.__search .fa-map-marker-alt {
  font-size: 1.3em;
  margin-left: 15%;
  color: #222222;
}

.__search input {
  border: none;
  font-size: 1.3em;
  padding-left: 5%;
}

.__concept {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 5%;
  font-size: 1.2em;
  color: grey;
}

.__concept h2 {
  font-size: 1.5em;
  font-weight: 1000;
  padding-bottom: 5%;
  padding: 5%;
}

.fonctionnement h2 {
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.fonctionnement .--element {
  border-radius: 20px;
  -webkit-box-shadow: #818181 2px 3px 3px;
          box-shadow: #818181 2px 3px 3px;
  font-size: 1.2em;
  width: 90%;
  margin-left: 5%;
  padding-top: 8%;
  padding-bottom: 8%;
  margin-bottom: 5%;
  background-color: #f6f6f6;
  font-weight: 900;
}

.fonctionnement .--element mark {
  color: white;
  background-color: #9356DC;
  padding: 2%;
  border-radius: 50%;
  padding-left: 4%;
  padding-right: 4%;
}

.fonctionnement .--element .fas {
  margin-left: 5%;
  margin-right: 5%;
  color: grey;
}

.fonctionnement .--element .fa-desktop {
  display: none;
}

.restaurant {
  background-color: #f8f8f8;
  padding-top: 15%;
  padding-bottom: 10%;
}

.restaurant h2 {
  padding-bottom: 5%;
  padding-left: 5%;
}

.restaurant .__box article {
  margin-left: 5%;
  width: 340px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  margin-bottom: 5%;
  -webkit-box-shadow: #818181 2px 3px 3px;
          box-shadow: #818181 2px 3px 3px;
}

.restaurant .__box em {
  position: absolute;
  z-index: 1;
  background-color: #99E2D0;
  right: 5%;
  top: 5%;
  border-radius: 5px;
  padding: 3%;
  font-style: normal;
  font-weight: 900;
  color: #278870;
}

.restaurant .__box .--detail {
  position: absolute;
  z-index: 1;
  background-color: white;
  bottom: 0;
  width: 100%;
  padding: 5%;
}

.restaurant .__box .--detail h3 {
  padding-bottom: 3%;
}

footer {
  background-color: #353535;
  padding-bottom: 5%;
}

footer h4 {
  font-family: "shrikhand";
  color: white;
  margin: 5%;
  font-size: 1.2em;
  padding-top: 5%;
  margin-top: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

footer .fas {
  color: white;
  padding-right: 2%;
}

footer nav {
  list-style: none;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer strong, footer a {
  color: white;
  line-height: 30px;
}

footer strong {
  font-weight: bold;
}

.bodypage {
  background-color: #f6f6f6;
}

.top {
  overflow: hidden;
  position: relative;
}

.top img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top .__nom {
  position: absolute;
  border-radius: 40px;
  background-color: #f6f6f6;
  padding-top: 9%;
  padding-bottom: 12%;
  margin: 0;
  bottom: -15%;
  width: 100%;
}

.top h2 {
  font-family: "shrikhand";
  margin-left: 3%;
  font-size: 1.9em;
}

.repas {
  background-color: #f6f6f6;
  padding: 3%;
  padding-bottom: 10%;
  -webkit-animation-name: apparition;
          animation-name: apparition;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.repas h3 {
  padding-top: 5%;
  border-bottom: #f6f6f6 solid;
  padding-bottom: 1%;
}

.repas h3 span {
  border-bottom: #99E2D0 solid;
  padding-bottom: 1%;
}

.repas h4 {
  font-weight: bold;
  font-size: 1.2em;
}

.repas article {
  background-color: white;
  border-radius: 20px;
  height: 70px;
  overflow: hidden;
  margin-top: 4%;
  margin-bottom: 4%;
  -webkit-box-shadow: #818181 1px 3px 4px;
          box-shadow: #818181 1px 3px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repas article:hover > .__check {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform: translate(-70px);
          transform: translate(-70px);
}

.repas article:hover > .__check > .fa-check-circle {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.repas article .__plat {
  margin: 3%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1em;
  font-size: 0.9em;
}

.repas article .__check {
  position: relative;
  height: 100%;
  width: 40px;
}

.repas article .__check span {
  position: absolute;
  right: 20px;
  bottom: 20%;
  font-weight: bold;
}

.repas article .__check .fas {
  background-color: #99E2D0;
  position: absolute;
  font-size: 1.5em;
}

.repas article .__check .--fond {
  padding: 35%;
  height: 100%;
  color: #99E2D0;
  top: 0px;
  right: -73px;
}

.repas article .__check .fa-check-circle {
  color: white;
  top: 25px;
  right: -53px;
}

@media screen and (min-width: 813px) {
  .chargement span {
    font-size: 3em;
  }
  .chargement .fas {
    font-size: 5em;
    top: 20%;
  }
  .chargement .fa-fish {
    left: 30%;
  }
  .chargement .fa-pepper-hot {
    left: 60%;
  }
  header h1 {
    font-size: 4em;
    line-height: 0;
  }
  .exploration .__search {
    padding: 2%;
  }
  .exploration .__search .fa-map-marker-alt {
    margin: 0;
  }
  .exploration .__search input {
    padding-left: 1%;
  }
  .exploration .__concept {
    padding-top: 1%;
  }
  .exploration .__concept h2 {
    padding: 1%;
    margin: 0;
  }
  .exploration .__concept .--sautligne {
    display: none;
  }
  .fonctionnement h2 {
    margin: 3%;
    margin-left: 5%;
  }
  .fonctionnement .__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 5%;
  }
  .fonctionnement .__box .--element {
    width: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .fonctionnement .__box .--element .fa-mobile-alt {
    display: none;
  }
  .fonctionnement .__box .--element .fa-desktop {
    display: contents;
  }
  .restaurant {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .restaurant .__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 5%;
  }
  footer {
    padding-bottom: 2%;
  }
  footer h4 {
    padding-top: 2%;
    margin: 1%;
    margin-left: 5%;
    margin-top: 0;
  }
  footer .fas {
    display: none;
  }
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 5%;
  }
}

@media screen and (min-width: 813px) {
  .bodypage .top {
    width: 100%;
  }
  .bodypage .top img {
    width: 100%;
    height: 600px;
  }
  .bodypage .top .__nom {
    padding: 5%;
    padding-top: 3%;
    width: 90%;
    font-size: 2em;
  }
  .bodypage .repas {
    padding-bottom: 3%;
  }
  .bodypage .repas .entre, .bodypage .repas .plat, .bodypage .repas .dessert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bodypage .repas article {
    width: 30%;
    height: 100px;
  }
  .bodypage .repas article .__check .fa-check-circle {
    top: 40px;
    right: -53px;
  }
  .bodypage .repas h3 {
    padding-top: 0%;
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */