@font-face {
    font-family: 'shrikhand';
    src: url(Sass\base\police\shrikhand\Shrikhand-Regular.otf);}

@font-face {
    font-family: 'roboto';
    src: url(Sass\base\police\robotoslab\RobotoSlab-Regular.ttf);
    src: url(Sass\base\police\robotoslab\RobotoSlab-Bold.ttf);
    src: url(Sass\base\police\robotoslab\RobotoSlab-Light.ttf);
    src:url(Sass\base\police\robotoslab\RobotoSlab-Thin.ttf)}