.--coeurrempli
{
    color: transparent;
    background: $degrade;
    -webkit-background-clip: text;
    position: absolute;
    right: 15%;
    bottom: 35%;
    font-size: 1.7em;
    z-index: 2;
}
.--calque
{
    position: absolute;
    right: 6%;
    bottom: 6%;
    font-size: 4em;
    z-index: 3;
    color: white;
    background-color: white;
    transition: transform 1s;
    transform-origin: center top;
}
.--coeurvide
{
    color: black;
    background-color: transparent;
    position: absolute;
    right: 15%;
    bottom: 35%;
    font-size: 1.7em;
    z-index: 4;
        &:hover + .--calque
        {
        transform: scaleY(0);
        }
}

.top
{
    .--coeurrempli
    {
        right: 10%;
        bottom: 50%;
    }
    .--calque
    {
        right: 10%;
        bottom: 40%;
        color: $couleur-fontclaire;
        background-color: $couleur-fontclaire;
    }
    .--coeurvide
    {
        right: 10%;
        bottom: 50%;
    }
}