@keyframes animcoeurrempli 
{
    from 
    {
        font-size: 0em;        
    }
    to
    {
        font-size: 1.7em;
        right: 15%;
    }
}

.__box--coeurrempli
{
    color: transparent;
    background: $degrade;
    -webkit-background-clip: text;
    position: absolute;
    right: 20%;
    bottom: 35%;
    font-size: 0em;
    animation-fill-mode: both;  
    
    
}
.__box--coeurvide
{
    color: black;
    background-color: transparent;
    position: absolute;
    right: 15%;
    bottom: 35%;
    font-size: 1.7em;    
    &:hover + .__box--coeurrempli
    {    
            animation-name: animcoeurrempli;
            animation-duration: 1s; 
               
    }
    
}