/* localisation */
.fa-map-marker-alt
{
    font-size: 1.3em;
    margin-left: 15%;
    color: rgb(34, 34, 34);
}

/* fonctionnement */
.fonctionnement__box--element .fas
{
    margin-left: 5%;
    margin-right: 5%;
    color: grey;
}

/* article */
.coeurrempli
{
    color: transparent;
    background: $degrade;
    -webkit-background-clip: text;
    position: absolute;
    right: 15%;
    bottom: 35%;
    font-size: 1.7em;
    z-index: 2;
}
.calque
{
    position: absolute;
    right: 6%;
    bottom: 6%;
    font-size: 4em;
    z-index: 3;
    color: white;
    background-color: white;
    transition: transform 500ms;
    transform-origin: center top;
}
.coeurvide
{
    color: black;
    background-color: transparent;
    position: absolute;
    right: 15%;
    bottom: 35%;
    font-size: 1.7em;
    z-index: 4;
        &:hover + .calque
        {
        transform: scaleY(0);
        }
}

/* footer */ 
footer .fas
{
    color: white;
    padding-right: 2%;
}