@font-face {
    font-family: 'shrikhand';
    src: url(/publique/police/shrikhand/Shrikhand-Regular.otf);}

@font-face {
    font-family: 'roboto';
    src: url(/publique/police/Roboto/Roboto-Regular.ttf) format('truetype');}