@font-face {
    font-family: 'shrikhand';
    src: url(https://cpasklaire.github.io/CleaLeRoux_3_23062021/publique/police/shrikhand/Shrikhand-Regular.otf);}

@font-face {
    font-family: 'roboto';
    src: url(https://cpasklaire.github.io/CleaLeRoux_3_23062021/publique/police/shrikhand/Roboto-Regular.ttf) format('truetype');}