
h5
{
    font-family: 'shrikhand';
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}

/*concept*/
.exploration__concept h2
{
    font-size: 1.5em;
    font-weight: 1000;
    padding-bottom: 5%;
    padding: 5%;
}

/*fonctionnement*/
.fonctionnement h2
{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
}

/* article */
.restaurant h2
{
    padding-bottom: 5%;
    padding-left: 5%;
}
.restaurant__box--detail h3
{
    padding-bottom: 3%;
}