@media screen and (min-width: 768px)
{
    /* Localisation + concept */
    .exploration__localisation
    {
        padding: 2%;
    }
    .exploration__localisation input
    {
        padding-left: 1%;
    }
    .exploration__concept
    {
        padding-top: 0%;
    }
    .exploration__concept h2
    {
        padding: 2%;
    }
    .sautligne
    {
        display: none;
    }
    .exploration__concept a
    {
        padding: 1%;
    }
     /*Fonctionnement*/
     .fonctionnement
     {
        background-color: rgb(235, 232, 232);
     }
     .fonctionnement h2
     {
         margin-top: 0;
         padding-top: 2%;
     }
     .fonctionnement .fas
     {
         display: none;
     }
     .fonctionnement__box
     {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 3%;
        flex-wrap: wrap;
     }
     .fonctionnement__box--element
     {
         padding: 2%;
         width: 24%;
         background-color: white;
         white-space: nowrap;
     }

     /* Restaurants */
     .restaurant 
     {
         padding: 0%;
         margin: 0%;
         margin-right: 3%;
         border-radius: 20px;
         background-color: transparent;
         padding-top: 2%;
     }
     .restaurant__box
     {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
     }
     .restaurant__box article
     {
         max-width: 550px;
     } 
     .restaurant__box--detail
     {
         top: 0;
         left: 60%;
         width: initial;
     }
     .restaurant__box em
     {
         left: 5%;
         right: initial;
     }
     .restaurant__box .fas
     {
         font-size: 2em;
         bottom: 10%;
     }
     .restaurant__box .far
     {
        font-size: 2em;
        bottom: 10%;
    }

     /* Pied de page */
     footer
     {
         padding: 1%;
     }
     footer nav
     {
         display: flex;
         justify-content: space-between;
         flex-direction: row;
         margin: 3%;
         padding: 0;
     }
     footer .fas
     {
         display: none;
     }
     footer h4
     {
         display: none;
     }


}