$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0; 
$couleur-fontclaire: rgb(248, 248, 248);
$couleur-ombre: rgb(129, 129, 129);
$font-titre: 'shrikhand';
$font-texte: 'roboto';